


<div class="py-5">
    <div class="row">
        <div class="mx-auto  col-md-6">
            <div class="my-center">
                <div class="card rounded-0">
                    <div class="card-content rounded-0">
                      <div class="card-header card-header bg-primary text-white rounded-0">
                        <h5 class="card-title display"> <i class="fa fa-user"></i> User Registation</h5>
                      </div>
                      <div class="card-body rounded-0">
                        <div class="mb-3">
                          <label for="user name" class="form-label">User Name</label>
                          <input type="text" class="form-control" class="form-control"  placeholder="Enter user name">
                        </div>
                        <div class="mb-3">
                          <label for="password" class="form-label">Password </label>
                          <input type="city" class="form-control"  placeholder="Enter a password">
                        </div>
                      </div>
                      <div class="card-footer rounded-0">
                        <button type="button" class="btn btn-primary">Add User</button>
                      </div>
                    </div>
              </div>
            </div>
        </div>
    </div>
</div>





  